<h1><%= @user.email %></h1>
<p>
  Created At:
  <%= @user.created_at %>
</p>
<p>
  Current IP Address:
  <%= @user.current_sign_in_ip %>
</p>
<p>
  Signed In:
  <%= @user.sign_in_count %>
  times
</p>
<p>
  Roles:
  <ul>
  <% @user.role_entities.each do |role| %>
    <li class="role_list_item">
      <%= select_tag(:role_id, options_for_select(@roles, role[:id]), { :class => 'select_role' }) %>
      <button class="remove_role_button">-</button>
    </li>
  <% end %>
  </ul>
  <button id="add_role_button">+</button>
</p>
<p>
  <button id="save_role_button">Save</button>
</p>
