<h1><%= @user.email %></h1>
<p>
  Created At:
  <%= @user.created_at %>
</p>
<p>
  Current IP Address:
  <%= @user.current_sign_in_ip %>
</p>
<p>
  Signed In:
  <%= @user.sign_in_count %>
  times
</p>
<p>
  Roles:
  <ul>
  <% @user.roles.each do |role| %>
    <li><%= select_tag(:role_id, options_for_select(@roles, role[:id])) %></li>
  <% end %>
  </ul>
</p>